@import '../variables.scss';
.row {
    display: flex;
    width: 100%;
    padding: 10px;
}

.ant-form-item-control .ant-btn-primary {
    margin-left: 15px;
    margin-right: 15px;
}

.flight-result {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    @include sm {
        width: 60%;
        float: left;
        margin-left: 10px;
    }
}

.flight-result .ant-row {
    padding: 10px 0px;
    border-top: 1px solid #ebedf0;
}

.airline-logo {
    width: 100px;
}

.flight-details .ant-row {
    border: none !important;
}

.flight-details span {
    font-weight: bold;
}

.container .ant-col-12 {
    width: 560px !important;
    @include xl {
        width: 700px !important;
    }
}

.flight-search-form {
    width: 90%;
    margin: auto;
    padding: 5px;
    border: 1px solid #ebedf0;
    
    @include sm {
        width: 60%;
        float: left;
        margin-left: 10px;
    }
}

.flight-search-form-row {
    display: flex;
    @include sm {
        display: block;
    }
}

.flight-search-form-arrow {
    font-size: 25px;
    padding: 5px 10px;
    display: block;
    
    @include sm {
        display: none;
    }
}

.flight-search-form-btn {
    @include sm {
        display: none;
    }
}

.flight-search-form-btn-responsive {
    display: none;
    @include sm {
        display: block;
        float: right;
        margin-top: 3px;
    }
}

.flight-search-form-spinner {
    float: right;
    width: 30px; 
    @include sm {
        display: none;
    }
}